* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 8px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: #0a3c2f;*/

    background-image: url('./main.JPG'); /* Set image1 as the background */
    background-size: cover; /* Scale the background to cover the card */
    background-position: center; /
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    /*background: #0d614b;*/
    background: #07043c;
    padding: 40px 60px;
}

h2 {
    font-size: 2em;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.reset {
    padding: 15px 20px;
    color: #07043c;
    border: none;
    font-size: 1em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    background: #e51a4a;
    color: #ffff;
}

.game {
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #ffff;
    transition: 0.25s;
    border-radius: 8px;
    transform: rotateY(180deg);
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #e51a4a;
    transition: 0.25s;
    border-radius: 8px;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen:after ,
.boxMatch:after {
    transform: rotateY(180deg);
}





.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden; /* Initially hidden */
    
}

/* Matching Cards */
.boxMatch {
    background-color:  #e51a4a;
}

.boxOpen {
    background-color: lightblue;
}
